<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
	</script>

	<style type="text/css">
		.order_first_row td {
			border-top: 2px black solid;
		}
		#yay td {
			vertical-align: middle;
		}
	</style>
</head>
<body>
	<div class="container-fluid">
		{% if filter_fields %}
			<form method="get">
				<div class="form-row">
					{% for filter_field in filter_fields %}
						<div class="col-auto">
							<label for="filter_{{filter_field.field}}">{{filter_field.name}}</label>
							{% if filter_field.choices %}
								<select class="form-control" id="filter_{{filter_field.field}}" name="{{filter_field.field}}">
									{% for choice in filter_field.choices %}
										<option value="{{choice}}" {% if choice == filter_field.value%}selected{% endif %}>{{choice}}</option>
									{% endfor %}
								</select>
							{% else %}
								<input type="text" class="form-control" id="filter_{{filter_field.field}}" name="{{filter_field.field}}" value="{{filter_field.value}}">
							{% endif %}
						</div>
					{% endfor %}
				</div>
				<button type="submit" style="display: none;"></button>
			</form>
		{% endif %}
		<script type="text/javascript">
			$(function(){
			    $("#filter_order_items__ean").focus();
			});
		</script>

		<br>
		<br>
	
		<div class="row">
			<div class="col-12">
				<table id="yay" class="table table-bordered" style="text-align: center;">
					<thead>
						<tr>
							<th>Data</th>
							<th>Sequencial</th>
							<th>Cliente</th>
							<th>Status</th>
							<th>Entrega</th>

							<!--
							<th>ID Pedido</th>
							<th>cpf</th>
							<th>total_product_price</th>
							<th>total_shipping_price</th>
							<th>city</th>
							<th>neighborhood</th>
							<th>state</th>
							<th>postal_code</th>
							<th>street_number</th>
							<th>vtex_sku</th>
							<th>vtex_product_id</th>
							<th>unit_sale_price</th>
							-->

							<th>Cod. Barra</th>
							<th>Qnt</th>
							<th>Est</th>
							<th>Produto</th>
							<th>Imagem</th>
						</tr>
					</thead>
					<tbody>
						{% for order in object_list %}
							{% for order_item in order.order_items.all %}
								{% if forloop.first %}
									<tr class="order_first_row">
								{% else %}
									<tr>
								{% endif %}
									{% if forloop.first %}
										<td rowspan="{{order.order_items.all|length}}">
											{{order.vtex_created_at|date:"d/m/y H:i"}}
											{% if order.payment_method_group == 'bankInvoice' %}
												<br><span style="color: green;">{{order.vtex_paid_at|date:"d/m/y H:i"}}</span>
											{% endif %}
										</td>
										<td rowspan="{{order.order_items.all|length}}">{{order.sequence}}</td>
										<td rowspan="{{order.order_items.all|length}}">{{order.client_name}}</td>
										<td rowspan="{{order.order_items.all|length}}">
											{% if order.payment_method_group == 'bankInvoice' %}
												Boleto
											{% else %}
												Cartão
											{% endif %}
											<br>
											{{order.status}}
											{% if order.status != 'Faturado' and order.invoiced_quantity %}
												<br>(Faturado: {{order.invoiced_quantity}})
											{% endif %}
										</td>
										<td rowspan="{{order.order_items.all|length}}">{{order.courier}}</td>
									{% endif %}
										<td>{{order_item.ean}}</td>
										
										{% if order_item.quantity == order_item.stock_warehouse %}
											<td>{{order_item.quantity}}</td>
											<td>{{order_item.stock_warehouse}}</td>
										{% elif order_item.quantity > order_item.stock_warehouse %}
											<td style="color: red;">{{order_item.quantity}}</td>
											<td style="color: red;">{{order_item.stock_warehouse}}</td>
										{% else %}
											<td style="color: blue;">{{order_item.quantity}}</td>
											<td style="color: blue;">{{order_item.stock_warehouse}}</td>
										{% endif %}
										<td>{{order_item.product_name}}</td>
										<td>
											<img src="{{order_item.image_link}}">
										</td>

										<!-- 
										<td rowspan="">{{order_item.order.vtex_id}}</td>
										<td>{{order_item.order.cpf}}</td>
										<td>{{order_item.order.total_product_price}}</td>
										<td>{{order_item.order.total_shipping_price}}</td>
										<td>{{order_item.order.city}}</td>
										<td>{{order_item.order.neighborhood}}</td>
										<td>{{order_item.order.state}}</td>
										<td>{{order_item.order.postal_code}}</td>
										<td>{{order_item.order.number}}</td> 
										<td>{{order_item.vtex_sku}}</td>
										<td>{{order_item.vtex_product_id}}</td>
										<td>{{order_item.unit_sale_price}}</td>
										-->
								</tr>
							{% endfor %}
						{% endfor %}
					</tbody>
				</table>		
			</div>
		</div>
	</div>
</body>
</html>